/*Potential fonts
write this part in html: 
1.
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">


write this part in css : 

1.
font-family: 'Qwitcher Grypen', cursive;

to change background color for whole page: create a body tag in css and then give it a new background color 
body { background-color: blue }

*/




.fixed-nav {
    position: fixed;
    top: 0;    /*fixes navigation area to top of page*/
    width: 100%;    /*so it takes up 100% of the page's width*/
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;   /*so that the bullet points on our links in list dont show*/
    margin-bottom: 0;
}

a {
    padding: 8px 10px;
    font-size: 1.5rem;
}

.fixed-nav a {
    color: black;
    text-decoration: none;
}

.hero-section {
    height: 100vh;   /*we want our picture to take up the whole page*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* putting a little bit of an overlay on the image so it makes it easier to read text*/
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("images/heroImage.jpg");

    background-size: cover;
}

.hero-title {
    font-size: 4.5rem;

    color: #fff;
    /*font-family: monospace;*/
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.4s steps(30, end),
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


.hero-desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    color: white; /*hero text is in the div so this color will apply to both the title and description as well */
}

.section-header {
    text-align: center;
}

.about-container {
    display: flex;
}

.about-text {
    padding-left: 2rem;
}

.about-container img {  /*write like this to reference the image inside the about-container div*/
    width: 25%;
    border-radius: 50%;
}

#about {
    padding: 2rem;
}

#contact {
    padding: 2rem;
    text-align: center;
}

.contact-link {
    text-decoration: none;
    display: block; /*will make the links stacked on top of each other*/
}



/* styling for the PROJECTS portion of page*/
.portfolio-container {
    display: flex;
    justify-content: space-between;
  }
  
  #portfolio {
    padding: 2rem 6rem 2rem 6rem;
    background-color: rgba(226, 218, 222, 0.5);
  }
  
  .portfolio-item {
    width: 40%;
    text-align: center;
    border: 1px #888888 solid;
    border-radius: 25px;
    box-shadow: 5px 10px;
    box-shadow: 5px 8px #888888;
    background-color: white;
  }
  
  .portfolio-item h2 {
    padding-top: 10px;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }


  /*styling for navigation bar*/
  .navbarPink {
    background-color: pink;
    transition: 0.3s;
  }


/* need to make height 100% otherwise there is a space below the footer */
html, body {
  height: 100%;
}

footer {
  text-align: center;
  vertical-align: center;
  background-color: rgba(226, 218, 222, 0.75);
}

.footer-text {
  padding-top: 3px;
}